@import './style.css';

.keen-slider {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -khtml-user-select: none;
}

.keen-slider, .keen-slider__slide {
    overflow: hidden;
    position: relative;
}

.height-transition {
    transition-duration: .3s;
    transition-property: height;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.nav-bar {
    height: 0;
    overflow: hidden;
    width: 100%;
}

.nav-menu-item {
    --tw-border-opacity: 1;
    border-bottom-width: 1px;
    border-color: #0285dd;
    overflow: hidden;
    position: relative;
}
.nav-menu-link {
    --tw-text-opacity: 1;
    align-items: center;
    color: #0051bb;
    display: flex;
    font-family: Termina Demi,sans-serif;
    font-size: .75rem;
    justify-content: space-between;
    line-height: 1rem;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    text-transform: uppercase;
}
.nav-menu-expand {
    padding: 1.25rem .75rem;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.nav-submenu {
    --tw-bg-opacity: 1;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    padding-left: 1.75rem;
}
ul {
    list-style: none;
}

@media (min-width: 1024px) {
    .nav-bar {
        grid-column: span 7/span 7;
        height: auto;
        overflow: visible;
    }
    .nav-menu-item {
        border-width: 0;
        display: block;
        height: 7rem;
        overflow: visible;
    }
    .nav-menu-link {
        height: 100%;
        justify-content: center;
        padding-bottom: 0;
        padding-top: 0;
        text-align: center;
    }
    .nav-menu-expand {
        display: none;
    }
    .nav-submenu {
        --tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
        --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);
        border-width: 0;
        box-shadow: 0 0 transparent,0 0 transparent,0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
        box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
        display: none;
        height: auto;
        left: 0;
        padding-left: 0;
        position: absolute;
        top: 100%;
        width: 15rem;
        z-index: 10;
    }
}